body {
    background-color: rgb(251, 252, 255);
}

header {
    background-color: rgb(139, 163, 216);
}


/* =========================
   PÁGINA PRINCIPAL
   ========================= */
.titulo-ppal {
    color: rgb(18, 68, 92);
    font-size: 40px;
    margin-top: 20px;
    background-color: rgb(148, 187, 231);
}

.subtitulo-serv {
    color: rgb(18, 68, 92);
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-top: 40px;
    background-color: rgba(181, 185, 187, 0.712);
}

.sub-eventossoc {
    color: rgb(25, 110, 163);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.sub-quince {
    color: rgb(25, 110, 163);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.sub-familia {
    color: rgb(25, 110, 163);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.sub-retrato {
    color: rgb(25, 110, 163);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.sub-eventoscorp {
    color: rgb(25, 110, 163);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.trayectoria {
    color: rgb(18, 68, 92);
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-top: 40px;
    background-color: rgba(181, 185, 187, 0.712);
}



/* =========================
   PÁGINA SECUNDARIA
   ========================= */

body {
    background-color: rgb(251, 252, 255);
}

header {
    background-color: rgb(139, 163, 216);
}

titulo-contacto {
    color: rgb(18, 68, 92);
    font-size: 40px;
    margin-top: 20px;
    background-color: rgb(148, 187, 231);
}