/*Definimos el espacio que va a ocupar la sección de reservas,
 con un ancho acorde para la lectura. */
.reservas {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
}


.reservas h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Organizamos los diferentes elementos del formulario de manera vertical
y dejamos un espacio entre cada uno. */
.formulario-reserva {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* En los campos del formulario diferenciamos las etiquetas y le damos un formato a los espacios para ingresar la información. */
.formulario-reserva label {
    font-weight: bold;
}

.formulario-reserva input,
.formulario-reserva textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

/* Agregamos el aspecto del botón para enviar la consulta y los cambios de como se ve
cuando el usuario pasa el mouse por encima . */
.formulario-reserva button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #9be6c6;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.formulario-reserva button:hover {
    opacity: 0.8;
}